In [9]:
import numpy as np
import matplotlib.pyplot as plt
import os
from skimage.io import imread

In [10]:
train_path = "../dataset/train" 
test_path = "../dataset/test" 

def loadDataset(path):
    datasetX = []
    datasetY = []
    i = 0
    print("debut chargement image")
    for folder in os.listdir(path):
        for image in os.listdir(path + "/" + folder):
            if (image.endswith('.jpg')):
                X = imread(path + "/" + folder+ "/" + image)[:,:,0]#[...,::-1]#
#                 rows,cols,colors = X.shape
#                 X_size = rows*cols*colors
#                 X = X.reshape(X_size)
                #print(X.shape)
                new_dim = []
                for i in range (0, 10):
                    new_dim.append(X)
                datasetX.append(new_dim)
                datasetY.append(folder.split("-")[1])
                if i == 20: 
                    #print("fin de la recuperation des images")
                    break
                i += 1

    return np.array(datasetX), np.array(datasetY)

train_dataset_X, train_dataset_Y = loadDataset(train_path)
test_dataset_X, test_dataset_Y = loadDataset(test_path)

print(train_dataset_X.shape)
print(train_dataset_Y.shape)

debut chargement image
debut chargement image
(12000, 19, 224, 224)
(12000,)

In [3]:
import pandas as pd

# train_df_X = pd.DataFrame(data=train_dataset_X[1:,0:], index=train_dataset_X[1:,0], columns=train_dataset_X[0,1:])
# train_df_Y = pd.DataFrame(data=train_dataset_Y[1:,0:], index=train_dataset_Y[1:,0], columns=train_dataset_Y[0,1:])
# test_df_X = pd.DataFrame(data=test_dataset_X[1:,0:], index=test_dataset_X[1:,0], columns=test_dataset_X[0,1:])
# test_df_Y = pd.DataFrame(data=test_dataset_Y[1:,0:], index=test_dataset_Y[1:,0], columns=test_dataset_Y[0,1:])

#FOR 2D ONLY
# train_df_X = pd.DataFrame(train_dataset_X)
# train_df_Y = pd.DataFrame(train_dataset_Y)
# test_df_X = pd.DataFrame(test_dataset_X)
# test_df_Y = pd.DataFrame(test_dataset_Y)

#train_df_X.head()
# train_df_Y.head(10)

,0,1,2,3,4,5,6,7,8,9,...,150518,150519,150520,150521,150522,150523,150524,150525,150526,150527
0,143,141,142,142,140,141,142,140,141,141,...,138,175,177,138,175,177,138,176,178,139
1,93,71,57,95,73,59,97,75,61,100,...,65,141,96,65,147,102,71,151,106,75
2,73,50,44,69,46,40,67,44,38,71,...,79,133,101,86,136,104,89,129,97,82
3,72,80,65,72,80,65,72,80,65,74,...,184,107,133,184,108,136,186,110,138,188
4,81,25,28,87,26,31,92,25,32,96,...,110,141,117,91,184,160,132,151,127,99

           0
0  Chihuahua
1  Chihuahua
2  Chihuahua
3  Chihuahua
4  Chihuahua
5  Chihuahua
6  Chihuahua
7  Chihuahua
8  Chihuahua
9  Chihuahua

In [ ]:
#traindf.to_csv('filename.csv', index=False)